<a href="https://colab.research.google.com/github/franciscofijamo/rocket_science-Inc_predict-_maintence/blob/master/Rocket_Science_Inc_predict__maintence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [1]:
import pandas as pd
import numpy as np

## Import Data

In [31]:
df =pd.read_csv('RUL_FD001.txt', header=None)
df1 = pd.read_csv('train_FD001.txt', sep= ' ', header=None)
df1_test = pd.read_csv('test_FD001.txt', sep= ' ', header=None)

In [32]:
print( 'df1_teste shape {}, df1 shape{}'.format(df1_test.shape, df1.shape))

df1_teste shape (13096, 28), df1 shape(20631, 28)

## Describe Data

In [30]:
# df1.info()
# df1.shape
df1.isna().sum()
# df1.describe()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26    20631
27    20631
dtype: int64

## Rename Cols

In [56]:
cols = ['motor_id',
        'cicle',
        'settings01',
        'settings02',
        'settings03',
        'tag1',
        'tag2',
        'tag3',
        'tag4',
        'tag5',
        'tag6',
        'tag7',
        'tag8',
        'tag9',
        'tag10',
        'tag11',
        'tag12',
        'tag13',
        'tag14',
        'tag15',
        'tag16',
        'tag17',
        'tag18',
        'tag19',
        'tag20',
        'tag21',
        'tag22',
        'tag23']

### help functions

In [ ]:
# df1.columns = cols
# df1 = df1.drop(['tag22', 'tag23'], axis=1)
# df1 = df1.rename({'index':'motor_id)'}, axis=1)

In [64]:
# df1.head()

       motor_id)  cicle  settings01  settings02  ...  tag18  tag19  tag20    tag21
0              1      1     -0.0007     -0.0004  ...   2388  100.0  39.06  23.4190
1              1      2      0.0019     -0.0003  ...   2388  100.0  39.00  23.4236
2              1      3     -0.0043      0.0003  ...   2388  100.0  38.95  23.3442
3              1      4      0.0007      0.0000  ...   2388  100.0  38.88  23.3739
4              1      5     -0.0019     -0.0002  ...   2388  100.0  38.90  23.4044
...          ...    ...         ...         ...  ...    ...    ...    ...      ...
20626        100    196     -0.0004     -0.0003  ...   2388  100.0  38.49  22.9735
20627        100    197     -0.0016     -0.0005  ...   2388  100.0  38.30  23.1594
20628        100    198      0.0004      0.0000  ...   2388  100.0  38.44  22.9333
20629        100    199     -0.0011      0.0003  ...   2388  100.0  38.29  23.0640
20630        100    200     -0.0032     -0.0005  ...   2388  100.0  38.37  23.0522

[20631 rows x 26 columns]